@charset "UTF-8";
/* Author: Krzysztof Grudzień */
/* -------------- FONTS ------------- */
@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800&display=swap");
/* -------------- UTILS ------------- */
/* ================================== */
/*             VARIABLES              */
/* ================================== */
/* ------------- COLORS ------------- */
@-webkit-keyframes slideLeft {
  0% {
    margin: 0 auto 63px calc(50% - 75px); }
  100% {
    margin: 0 0 63px 0; } }
@keyframes slideLeft {
  0% {
    margin: 0 auto 63px calc(50% - 75px); }
  100% {
    margin: 0 0 63px 0; } }

@-webkit-keyframes slideMenuRight {
  0% {
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%); }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0); } }

@keyframes slideMenuRight {
  0% {
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%); }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0); } }

@-webkit-keyframes slideMenuLeft {
  0% {
    -webkit-transform: translateX(0);
            transform: translateX(0); }
  100% {
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%); } }

@keyframes slideMenuLeft {
  0% {
    -webkit-transform: translateX(0);
            transform: translateX(0); }
  100% {
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%); } }

@-webkit-keyframes beatingHeart {
  0% {
    -webkit-transform: scale(0.95);
            transform: scale(0.95); }
  5% {
    -webkit-transform: scale(1.1);
            transform: scale(1.1); }
  39% {
    -webkit-transform: scale(0.85);
            transform: scale(0.85); }
  45% {
    -webkit-transform: scale(1);
            transform: scale(1); }
  60% {
    -webkit-transform: scale(0.95);
            transform: scale(0.95); }
  100% {
    -webkit-transform: scale(0.9);
            transform: scale(0.9); } }

@keyframes beatingHeart {
  0% {
    -webkit-transform: scale(0.95);
            transform: scale(0.95); }
  5% {
    -webkit-transform: scale(1.1);
            transform: scale(1.1); }
  39% {
    -webkit-transform: scale(0.85);
            transform: scale(0.85); }
  45% {
    -webkit-transform: scale(1);
            transform: scale(1); }
  60% {
    -webkit-transform: scale(0.95);
            transform: scale(0.95); }
  100% {
    -webkit-transform: scale(0.9);
            transform: scale(0.9); } }

@-webkit-keyframes loader1 {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0); }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1); } }

@keyframes loader1 {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0); }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1); } }

@-webkit-keyframes loader3 {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1); }
  100% {
    -webkit-transform: scale(0);
            transform: scale(0); } }

@keyframes loader3 {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1); }
  100% {
    -webkit-transform: scale(0);
            transform: scale(0); } }

@-webkit-keyframes loader2 {
  0% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0); }
  100% {
    -webkit-transform: translate(19px, 0);
            transform: translate(19px, 0); } }

@keyframes loader2 {
  0% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0); }
  100% {
    -webkit-transform: translate(19px, 0);
            transform: translate(19px, 0); } }

/* ================================== */
/*           HELPER CLASSES           */
/* ================================== */
/* ------------ ANIMATIONS ----------- */
.nav--animation-right {
  -webkit-animation: slideMenuRight .4s ease-in-out both;
          animation: slideMenuRight .4s ease-in-out both; }

.nav--animation-left {
  -webkit-animation: slideMenuLeft .4s ease-in-out both;
          animation: slideMenuLeft .4s ease-in-out both; }

/* -------------- BASE -------------- */
/*! normalize.css v8.0.1 | MIT License | github.com/necolas/normalize.css */
/* Document
   ========================================================================== */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 */
html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */ }

/* Sections
   ========================================================================== */
/**
 * Remove the margin in all browsers.
 */
body {
  margin: 0; }

/**
 * Render the `main` element consistently in IE.
 */
main {
  display: block; }

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0; }

/* Grouping content
   ========================================================================== */
/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */ }

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */ }

/* Text-level semantics
   ========================================================================== */
/**
 * Remove the gray background on active links in IE 10.
 */
a {
  background-color: transparent; }

/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
  /* 2 */ }

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder; }

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */ }

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%; }

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sub {
  bottom: -0.25em; }

sup {
  top: -0.5em; }

/* Embedded content
   ========================================================================== */
/**
 * Remove the border on images inside links in IE 10.
 */
img {
  border-style: none; }

/* Forms
   ========================================================================== */
/**
 * 1. Change the font styles in all browsers.
 * 2. Remove the margin in Firefox and Safari.
 */
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */ }

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */
button,
input {
  /* 1 */
  overflow: visible; }

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select {
  /* 1 */
  text-transform: none; }

/**
 * Correct the inability to style clickable types in iOS and Safari.
 */
button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button; }

/**
 * Remove the inner border and padding in Firefox.
 */
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0; }

/**
 * Restore the focus styles unset by the previous rule.
 */
button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText; }

/**
 * Correct the padding in Firefox.
 */
fieldset {
  padding: 0.35em 0.75em 0.625em; }

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */
legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  /* 1 */
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */ }

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  vertical-align: baseline; }

/**
 * Remove the default vertical scrollbar in IE 10+.
 */
textarea {
  overflow: auto; }

/**
 * 1. Add the correct box sizing in IE 10.
 * 2. Remove the padding in IE 10.
 */
[type="checkbox"],
[type="radio"] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto; }

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */
[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */ }

/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */ }

/* Interactive
   ========================================================================== */
/*
 * Add the correct display in Edge, IE 10+, and Firefox.
 */
details {
  display: block; }

/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item; }

/* Misc
   ========================================================================== */
/**
 * Add the correct display in IE 10+.
 */
template {
  display: none; }

/**
 * Add the correct display in IE 10.
 */
[hidden] {
  display: none; }

/* ================================== */
/*          GENERAL SETTINGS          */
/* ================================== */
html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 16px; }

*,
*::after,
*::before {
  -webkit-box-sizing: inherit;
          box-sizing: inherit; }

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%;
  position: relative;
  font-family: "Open Sans", Arial, Helvetica, sans-serif;
  background-color: #011C32;
  background-image: -webkit-radial-gradient(circle, #02416A, #011C32);
  background-image: -o-radial-gradient(circle, #02416A, #011C32);
  background-image: radial-gradient(circle, #02416A, #011C32); }

ul {
  list-style: none; }

ul li {
  display: inline-block; }

ol li {
  display: block;
  list-style: none; }

/* ------------- LAYOUT ------------- */
/* ================================== */
/*              MAIN MAIN             */
/* ================================== */
.app__loader {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 63px 0 0 0;
  text-align: center;
  font-size: 30px;
  text-transform: uppercase;
  font-weight: 300;
  color: #CBECFE; }

.app__header-counter {
  margin: 20px 0 10px 0;
  font-size: 50px;
  font-weight: 400;
  line-height: 53px;
  text-align: center;
  color: #CBECFE; }

.app__glass-dimention {
  margin: 0 0 20px 0;
  font-size: 20px;
  color: #CBECFE;
  text-align: center; }

.app__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative; }

.app__loader-box {
  position: relative;
  width: 64px;
  height: 64px;
  margin-top: 24px;
  margin-left: 10px; }

.app__loader-box div {
  position: absolute;
  top: 27px;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: #fff;
  -webkit-animation-timing-function: cubic-bezier(0, 1, 1, 0);
          animation-timing-function: cubic-bezier(0, 1, 1, 0); }

.app__loader-box div:nth-child(1) {
  left: 6px;
  -webkit-animation: loader1 0.6s infinite;
          animation: loader1 0.6s infinite; }

.app__loader-box div:nth-child(2) {
  left: 6px;
  -webkit-animation: loader2 0.6s infinite;
          animation: loader2 0.6s infinite; }

.app__loader-box div:nth-child(3) {
  left: 26px;
  -webkit-animation: loader2 0.6s infinite;
          animation: loader2 0.6s infinite; }

.app__loader-box div:nth-child(4) {
  left: 45px;
  -webkit-animation: loader3 0.6s infinite;
          animation: loader3 0.6s infinite; }

.app__heart-box {
  display: inline-block;
  position: absolute;
  width: 64px;
  height: 64px;
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
  -webkit-transform-origin: 32px 32px;
      -ms-transform-origin: 32px 32px;
          transform-origin: 32px 32px;
  top: 0;
  left: 0; }

.app__heart-box .app__heart {
  top: 23px;
  left: 19px;
  position: absolute;
  width: 26px;
  height: 26px;
  background: #D81A1A;
  -webkit-animation: beatingHeart 1.2s infinite cubic-bezier(0.215, 0.61, 0.355, 1);
          animation: beatingHeart 1.2s infinite cubic-bezier(0.215, 0.61, 0.355, 1); }

.app__heart-box .app__heart:after,
.app__heart-box .app__heart:before {
  content: " ";
  position: absolute;
  display: block;
  width: 26px;
  height: 26px;
  background: #D81A1A; }

.app__heart-box .app__heart:before {
  left: -17px;
  border-radius: 50% 0 0 50%; }

.app__heart-box .app__heart:after {
  top: -17px;
  border-radius: 50% 50% 0 0; }

.app__percent {
  position: absolute;
  bottom: 40px;
  font-size: 50px;
  color: #E4F2F9; }

/* ================================== */
/*             MAIN HEADER            */
/* ================================== */
.header {
  width: 96%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 10px; }
  .header__logo {
    margin-bottom: 63px;
    -webkit-animation: slideLeft 2s 4s ease-in-out both;
            animation: slideLeft 2s 4s ease-in-out both; }
  .header__logo-img {
    width: 150px; }
  .header__nav-switcher-box {
    position: relative;
    width: 50px;
    height: 50px;
    z-index: 99;
    cursor: pointer; }
  .header__nav-switcher {
    position: absolute;
    -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    left: 50%;
    top: 50%;
    width: 30px;
    height: 2px;
    background-color: #CBECFE;
    cursor: pointer; }
  .header__nav-switcher::after {
    content: '';
    width: 30px;
    height: 2px;
    position: absolute;
    background-color: #CBECFE;
    bottom: 10px; }
  .header__nav-switcher::before {
    content: '';
    width: 30px;
    height: 2px;
    position: absolute;
    background-color: #CBECFE;
    top: 10px; }
  .header__nav-switcher--close {
    position: absolute;
    -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    left: 50%;
    top: 50%;
    width: 30px;
    height: 30px;
    background-image: url(../assets/img/arrow-left.svg);
    background-repeat: no-repeat;
    background-position: center center;
    -webkit-transition: transparent .4s ease-out;
    -o-transition: transparent .4s ease-out;
    transition: transparent .4s ease-out;
    cursor: pointer; }

/* ================================== */
/*           APP NAVIGATION           */
/* ================================== */
.nav {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  height: 100%;
  background-color: #E4F2F9; }
  .nav__header {
    width: 100%;
    height: 180px;
    background-image: -webkit-gradient(linear, left bottom, right top, from(#68C1F1), to(#3C7DC7));
    background-image: -webkit-linear-gradient(left bottom, #68C1F1, #3C7DC7);
    background-image: -o-linear-gradient(left bottom, #68C1F1, #3C7DC7);
    background-image: linear-gradient(left bottom, #68C1F1, #3C7DC7); }
  .nav__header-img {
    margin: 0;
    padding: 15px 0 0 20px; }
  .nav__header-summary {
    margin: -20px 0 0 0;
    padding-right: 20px;
    font-size: 20px;
    color: #CBECFE;
    text-align: right; }
  .nav__header-summary-progress {
    height: 4px;
    margin-top: 5px;
    background-color: #CBECFE; }
  .nav__header-progress-bar {
    width: 10%;
    height: 4px;
    background-color: #02416A; }
  .nav__content {
    margin: 0 auto;
    max-width: 90%; }
  .nav__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 0;
    margin: 30px 0 0 0;
    font-size: 22px;
    font-weight: 600; }
  .nav__list-item {
    height: 35px;
    margin-bottom: 36px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
  .nav__icon {
    height: 35px; }
    .nav__icon--contact {
      height: 51px; }
  .nav__list-item:nth-of-type(2) {
    margin-bottom: 100px;
    border-bottom: solid 1px #BCBCBC;
    padding-bottom: 80px; }
  .nav__list-item:nth-of-type(3) {
    height: 50px;
    margin-bottom: 40px;
    border-bottom: solid 1px #BCBCBC;
    padding-bottom: 80px; }
  .nav__list-link:link, .nav__list-link:visited, .nav__list-link:active, .nav__list-link:hover {
    display: inline-block;
    line-height: 35px;
    margin-left: 31px;
    text-decoration: none;
    color: #515151; }
  .nav__list-link-contact {
    padding-top: 10px; }

/* ================================== */
/*        PART OF APP CONTENT         */
/* ================================== */
/*------------ STATISTICS ------------*/
.statistics {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 1001;
  top: 0;
  left: 0;
  background-color: #E4F2F9; }
  .statistics__header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    position: relative;
    width: 100%;
    height: 72px;
    margin: 0;
    background-image: -webkit-gradient(linear, left bottom, right top, from(#68C1F1), to(#3C7DC7));
    background-image: -webkit-linear-gradient(left bottom, #68C1F1, #3C7DC7);
    background-image: -o-linear-gradient(left bottom, #68C1F1, #3C7DC7);
    background-image: linear-gradient(left bottom, #68C1F1, #3C7DC7); }
  .statistics__header-title {
    color: #CBECFE;
    font-weight: 400;
    text-transform: capitalize;
    padding-left: 58px; }
  .statistics__switcher-box {
    position: absolute;
    width: 50px;
    height: 50px;
    z-index: 1001;
    cursor: pointer; }
  .statistics__switcher {
    position: absolute;
    -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    left: 50%;
    top: 50%;
    width: 30px;
    height: 30px;
    background-image: url(../assets/img/arrow-left.svg);
    background-repeat: no-repeat;
    background-position: center center;
    -webkit-transition: transparent .4s ease-out;
    -o-transition: transparent .4s ease-out;
    transition: transparent .4s ease-out;
    cursor: pointer; }
  .statistics__box {
    width: 100%;
    height: 313px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-shadow: 2px 0 5px rgba(0, 0, 0, 0.15);
            box-shadow: 2px 0 5px rgba(0, 0, 0, 0.15);
    margin-bottom: 30px; }
  .statistics__table {
    width: 100%;
    min-height: 80%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center; }
  .statistics__icon {
    margin-left: 17px;
    margin-top: 10px; }
  .statistics__averages {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
    height: 211px;
    -webkit-box-shadow: 2px 0 5px rgba(0, 0, 0, 0.15);
            box-shadow: 2px 0 5px rgba(0, 0, 0, 0.15); }
  .statistics__average {
    width: 98%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 10px;
    border-bottom: solid 1px #BCBCBC; }
  .statistics__average:last-child {
    border: none; }
  .statistics__value {
    color: #3C7DC7; }

.table {
  margin-top: 30px; }
  .table__row {
    margin: 0;
    padding: 0; }
  .table__row-header {
    vertical-align: 0; }
  .table__row-head {
    text-align: left;
    height: 20px;
    line-height: 20px;
    padding: 10px 0;
    font-size: 20px;
    font-weight: 400;
    color: #3C7DC7; }
  .table__data {
    height: 20px;
    line-height: 20px;
    padding: 5px 0;
    color: #515151; }
  .table__data-value, .table__data-summary {
    text-align: center; }
  .table__data-summary {
    font-weight: 900;
    color: #515151; }
  .table__data-header:nth-child(odd) {
    background-color: #CBECFE; }

/* ================================== */
/*        PART OF APP CONTENT         */
/* ================================== */
/*----------- ACHIEVEMENTS -----------*/
.achievements {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 1001;
  top: 0;
  left: 0;
  background-color: #E4F2F9; }
  .achievements__header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    position: relative;
    width: 100%;
    height: 72px;
    margin: 0;
    background-image: -webkit-gradient(linear, left bottom, right top, from(#68C1F1), to(#3C7DC7));
    background-image: -webkit-linear-gradient(left bottom, #68C1F1, #3C7DC7);
    background-image: -o-linear-gradient(left bottom, #68C1F1, #3C7DC7);
    background-image: linear-gradient(left bottom, #68C1F1, #3C7DC7); }
  .achievements__header-title {
    color: #CBECFE;
    font-weight: 400;
    text-transform: capitalize;
    padding-left: 58px; }
  .achievements__switcher-box {
    position: absolute;
    width: 50px;
    height: 50px;
    z-index: 1001;
    cursor: pointer; }
  .achievements__switcher {
    position: absolute;
    -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    left: 50%;
    top: 50%;
    width: 30px;
    height: 30px;
    background-image: url(../assets/img/arrow-left.svg);
    background-repeat: no-repeat;
    background-position: center center;
    -webkit-transition: transparent .4s ease-out;
    -o-transition: transparent .4s ease-out;
    transition: transparent .4s ease-out;
    cursor: pointer; }
  .achievements__box {
    width: 100%;
    height: 313px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin-bottom: 30px; }
  .achievements__table {
    width: 100%;
    min-height: 80%; }
  .achievements__box-achievements {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 100%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center; }
  .achievements__box-percent {
    width: 50px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    text-align: right;
    font-size: 12px;
    padding-right: 10px; }
  .achievements__box-progress-bar {
    height: 95%;
    width: 60px;
    border: solid 1px #515151;
    -ms-flex-item-align: center;
        align-self: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse; }
  .achievements__progress-bar {
    width: 100%;
    height: 0%;
    background-color: #68C1F1; }
  .achievements__icon {
    margin-left: 17px;
    margin-top: 10px; }
  .achievements__goals {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%; }
  .achievements__goal {
    width: 98%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 10px; }
  .achievements__value {
    color: #3C7DC7; }

/* ================================== */
/*        PART OF APP CONTENT         */
/* ================================== */
/*------------- SETTINGS -------------*/
.settings {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 1001;
  top: 0;
  left: 0;
  background-color: #E4F2F9; }
  .settings__header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    position: relative;
    width: 100%;
    height: 72px;
    margin: 0;
    background-image: -webkit-gradient(linear, left bottom, right top, from(#68C1F1), to(#3C7DC7));
    background-image: -webkit-linear-gradient(left bottom, #68C1F1, #3C7DC7);
    background-image: -o-linear-gradient(left bottom, #68C1F1, #3C7DC7);
    background-image: linear-gradient(left bottom, #68C1F1, #3C7DC7); }
  .settings__header-title {
    color: #CBECFE;
    font-weight: 400;
    text-transform: capitalize;
    padding-left: 58px; }
  .settings__switcher-box {
    position: absolute;
    width: 50px;
    height: 50px;
    z-index: 1001;
    cursor: pointer; }
  .settings__switcher {
    position: absolute;
    -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    left: 50%;
    top: 50%;
    width: 30px;
    height: 30px;
    background-image: url(../assets/img/arrow-left.svg);
    background-repeat: no-repeat;
    background-position: center center;
    -webkit-transition: transparent .4s ease-out;
    -o-transition: transparent .4s ease-out;
    transition: transparent .4s ease-out;
    cursor: pointer; }
  .settings__box {
    width: 100%;
    height: 313px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-bottom: 30px; }
  .settings__icon {
    -ms-flex-item-align: start;
        align-self: flex-start;
    margin-left: 17px;
    margin-top: 10px; }
  .settings__units, .settings__avarage-amounts {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding-left: 17px;
    padding-right: 17px;
    -webkit-box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.15);
            box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.15);
    margin-top: 30px; }
  .settings__units-header, .settings__avarage-amount-header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    font-size: 20px;
    font-weight: 600; }
  .settings__avarage-amount-header {
    padding-left: 20px; }
  .settings__units-header-description, .settings__avarage-amount-header-description {
    font-size: 14px;
    font-weight: 400; }
  .settings__unit, .settings__avarage-amount {
    font-size: 30px;
    font-weight: 400; }

/* ================================== */
/*        PART OF APP CONTENT         */
/* ================================== */
/*------------- CONTACT --------------*/
.contact {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 1001;
  top: 0;
  left: 0;
  background-color: #E4F2F9; }
  .contact__header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    position: relative;
    width: 100%;
    height: 72px;
    margin: 0;
    background-image: -webkit-gradient(linear, left bottom, right top, from(#68C1F1), to(#3C7DC7));
    background-image: -webkit-linear-gradient(left bottom, #68C1F1, #3C7DC7);
    background-image: -o-linear-gradient(left bottom, #68C1F1, #3C7DC7);
    background-image: linear-gradient(left bottom, #68C1F1, #3C7DC7); }
  .contact__header-title {
    color: #CBECFE;
    font-weight: 400;
    text-transform: capitalize;
    padding-left: 58px; }
  .contact__switcher-box {
    position: absolute;
    width: 50px;
    height: 50px;
    z-index: 1001;
    cursor: pointer; }
  .contact__switcher {
    position: absolute;
    -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    left: 50%;
    top: 50%;
    width: 30px;
    height: 30px;
    background-image: url(../assets/img/arrow-left.svg);
    background-repeat: no-repeat;
    background-position: center center;
    -webkit-transition: transparent .4s ease-out;
    -o-transition: transparent .4s ease-out;
    transition: transparent .4s ease-out;
    cursor: pointer; }
  .contact__author {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-top: 34px; }
  .contact__author-name {
    font-size: 22px;
    font-weight: 600;
    text-transform: capitalize;
    color: #515151;
    margin: 13px 0 0 0; }
  .contact__author-profession {
    font-size: 12px;
    font-style: italic;
    margin-top: 5px; }
  .contact__author-img {
    width: 192px;
    height: 192px;
    border-radius: 50%;
    border: solid 8px #fff;
    -webkit-box-shadow: 2px 0 5px rgba(0, 0, 0, 0.15);
            box-shadow: 2px 0 5px rgba(0, 0, 0, 0.15); }
  .contact__details {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-top: 40px;
    margin-bottom: 40px; }
  .contact__details-email, .contact__details-phone, .contact__details-www {
    width: 100%;
    padding-left: 20px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
  .contact__email {
    margin-left: 20px; }
  .contact__phone {
    margin-left: 30px; }
  .contact__details-www-icon {
    margin-right: 24px; }
  .contact__details-email-icon {
    width: 25px; }
  .contact__www-link:link, .contact__www-link:visited, .contact__www-link:active, .contact__www-link:hover {
    color: #515151;
    text-decoration: none; }
  .contact__social {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column; }
  .contact__social-header {
    font-size: 16px;
    font-weight: 600;
    padding-left: 20px; }
  .contact__social-list {
    margin: 0;
    padding-left: 20px; }
  .contact__social-item {
    margin-right: 20px; }

/* ------------ COMPONENTS ---------- */
/* ------------ MAIN SVG DROP ---------- */
.app__drop {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  fill: #CBECFE; }

/* ================================== */
/*           MAIN BUTTONS             */
/* ================================== */
.btn {
  width: 76px;
  height: 76px;
  position: absolute;
  border: solid 8px #3C7DC7;
  border-radius: 50%;
  background-color: #68C1F1;
  -webkit-box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.35);
          box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.35); }
  .btn--add {
    top: 70px;
    right: 40px;
    background-image: url("../assets/img/add-glass.svg");
    background-repeat: no-repeat;
    background-position: center center; }
  .btn--substract {
    top: 135px;
    right: -10px;
    background-image: url("../assets/img/remove-glass.svg");
    background-repeat: no-repeat;
    background-position: center center; }

/*# sourceMappingURL=main.css.map */
