/* ------------ MAIN SVG DROP ---------- */
.app {
    &__drop {
        align-self: center;
        fill: $light-blue;
    }

    &__heart-box {
        display: inline-block;
        position: absolute;
        width: 64px;
        height: 64px;
        transform: rotate(45deg);
        transform-origin: 32px 32px;
        top: 0;
        left: 0;
    }

    &__heart-box &__heart {
        top: 23px;
        left: 19px;
        position: absolute;
        width: 26px;
        height: 26px;
        background: $red;
        animation: beatingHeart 1.2s infinite cubic-bezier(0.215, 0.61, 0.355, 1);
    }

    &__heart-box &__heart:after,
    &__heart-box &__heart:before {
        content: " ";
        position: absolute;
        display: block;
        width: 26px;
        height: 26px;
        background: $red;
    }

    &__heart-box &__heart:before {
        left: -17px;
        border-radius: 50% 0 0 50%;
    
    }

    &__heart-box &__heart:after {
        top: -17px;
        border-radius: 50% 50% 0 0;
    }
}




