/* ================================== */
/*             VARIABLES              */
/* ================================== */

/* ------------- COLORS ------------- */

$lighter-blue: #E4F2F9;
$light-blue: #CBECFE;
$blue: #68C1F1;
$blue-dark: #3C7DC7;
$navy: #02416A;
$navy-dark: #011C32;
$grey: #515151;
$grey-light: #BCBCBC;