/* ================================== */
/*             VARIABLES              */
/* ================================== */

/* ------------- COLORS ------------- */

$light-blue: #CBECFE;
$blue: #68C1F1;
$blue-dark: #3C7DC7;
$navy: #02416A;
$navy-dark: #011C32;