/* ================================== */
/*          GENERAL SETTINGS          */
/* ================================== */

html {
    box-sizing: border-box;
    font-size: 16px;
}

*,
*::after,
*::before {
    box-sizing: inherit;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100%;
    font-family: "Open Sans", Arial, Helvetica, sans-serif;
    background-color: $navy-dark;
    background-image: radial-gradient(circle, $navy, $navy-dark);
}

ul {
    list-style: none;
}

ul li {
    display: inline-block;
}

ol li {
    display: block;
    list-style: none;
}