/* ================================== */
/*        PART OF APP CONTENT         */
/* ================================== */

/*------------- CONTACT --------------*/

.contact {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 1001;
    top: 0;
    left: 0;
    background-color: $lighter-blue;

    &__header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: relative;
        width: 100%;
        height: 72px;
        margin: 0;
        background-image: linear-gradient(left bottom,$blue, $blue-dark);
    }

    &__header-title {
        color: $light-blue;
        font-weight: 400;
        text-transform: capitalize;
        padding-left: 58px;
    }

    &__switcher-box {
        position: absolute;
        width: 50px;
        height: 50px;
        z-index: 1001;
        cursor: pointer;
    }

    &__switcher {
        position: absolute;
        transform: translate(-50%, -50%);
        left: 50%;
        top: 50%;
        width: 30px;
        height: 30px;
        background-image: url(../assets/img/arrow-left.svg);
        background-repeat: no-repeat;
        background-position: center center;
        transition: transparent .4s ease-out;
        cursor: pointer;
    }

    &__author {
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        margin-top: 34px;
    }

    &__author-name {
        font-size: 22px;
        font-weight: 600;
        text-transform: capitalize;
        color: $grey;
        margin: 13px 0 0 0;
    }

    &__author-profession {
        font-size: 12px;
        font-style: italic;
        margin-top: 5px;
    }

    &__author-img {
        width: 192px;
        height: 192px;
        border-radius: 50%;
        border: solid 8px #fff;
        box-shadow: 2px 0 5px rgba(0,0,0,.15);
    }

    &__details {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 40px;
        margin-bottom: 40px;
    }

    &__details-email, &__details-phone, &__details-www {
        width: 100%;
        padding-left: 20px;
        display: flex;
    }

    &__email {
        margin-left: 20px;
    }

    &__phone {
        margin-left: 30px;
    }

    &__details-www-icon {
        margin-right: 24px;
    }

    &__details-email-icon {
        width: 25px;
    }

    &__www-link:link, &__www-link:visited, &__www-link:active, &__www-link:hover {
         color: $grey;
         text-decoration: none;
    }

    &__social {
        display: flex;
        flex-direction: column;
    }

    &__social-header {
        font-size: 16px;
        font-weight: 600;
        padding-left: 20px;
    }

    &__social-list {
        margin: 0;
        padding-left: 20px;
    }

    &__social-item {
        margin-right: 20px;
    }
}