/* ================================== */
/*             MAIN HEADER            */
/* ================================== */

.header {
    width: 96%;
    
    &__logo {
        width: 150px;
        margin-bottom: 63px;
        animation: slideLeft 2s 4s ease-in-out both;
    }
}