/* ================================== */
/*        PART OF APP CONTENT         */
/* ================================== */

/*------------ STATISTICS ------------*/

.statistics {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 1001;
    top: 0;
    left: 0;
    background-color: $lighter-blue;

    &__header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: relative;
        width: 100%;
        height: 72px;
        margin: 0;
        background-image: linear-gradient(left bottom,$blue, $blue-dark);
    }

    &__header-title {
        color: $light-blue;
        font-weight: 400;
        text-transform: capitalize;
        padding-left: 58px;
    }

    &__switcher-box {
        position: absolute;
        width: 50px;
        height: 50px;
        z-index: 1001;
        cursor: pointer;
    }

    &__switcher {
        position: absolute;
        transform: translate(-50%, -50%);
        left: 50%;
        top: 50%;
        width: 30px;
        height: 30px;
        background-image: url(../assets/img/arrow-left.svg);
        background-repeat: no-repeat;
        background-position: center center;
        transition: transparent .4s ease-out;
        cursor: pointer;
    }

    &__box {
        width: 100%;
        height: 313px;
        display: flex;
        flex-wrap: wrap;
        box-shadow: 2px 0 5px rgba(0,0,0,.15);
        margin-bottom: 30px;
    }

    &__table {
        width: 100%;
        min-height: 80%;
        display: flex;
        justify-content: center;
    }

    &__icon {
        margin-left: 17px;
        margin-top: 10px;
    }

    &__averages {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        height: 211px;
        box-shadow: 2px 0 5px rgba(0,0,0,.15);
    }

    &__average {
        width: 98%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 10px;
        border-bottom: solid 1px $grey-light;
    }

    &__average:last-child {
        border: none;
    }

    &__value {
        color: $blue-dark;
    }
}

.table {
    margin-top: 30px;

    &__row {
        margin: 0;
        padding: 0;  
    }

    &__row-header {
        vertical-align: 0;
    }

    &__row-head {
        text-align: left;
        height: 20px;
        line-height: 20px;
        padding: 10px 0;
        font-size: 20px;
        font-weight: 400;
        color: $blue-dark;
    }

    &__data {
        height: 20px;
        line-height: 20px;
        padding: 5px 0;
        color: $grey;
    }

    &__data-value, &__data-summary {
        text-align: center;
    }

    &__data-summary {
        font-weight: 900;
        color: $grey;
    }

    &__data-header:nth-child(odd) {
        background-color: $light-blue;
    }
}